body {
  background-color: #313131;
  background-image: url("./images/background-geometry.png");
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
}
